CREATE TABLE ADMINS(
	hairdresser_id int NOT NULL,
	user_id int NOT NULL,
	role tinyint NOT NULL,
 CONSTRAINT PK_ADMINS PRIMARY KEY CLUSTERED 
(
	hairdresser_id ASC,
	user_id ASC
))
GO
/****** Object:  Table APPOINTMENT_SERVICES    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE APPOINTMENT_SERVICES(
	appointment_id int NOT NULL,
	service_id int NOT NULL,
 CONSTRAINT PK_APPOINTMENT_SERVICES PRIMARY KEY CLUSTERED 
(
	appointment_id ASC,
	service_id ASC
))
GO
/****** Object:  Table APPOINTMENTS    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE APPOINTMENTS(
	appointment_id int NOT NULL,
	user_id int NOT NULL,
	hairdresser_id int NOT NULL,
	date date NOT NULL,
	time time(0) NOT NULL,
	status int NOT NULL,
 CONSTRAINT PK_APPOINTMENTS PRIMARY KEY CLUSTERED 
(
	appointment_id ASC
))
GO
/****** Object:  Table HAIRDRESSERS    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE HAIRDRESSERS(
	hairdresser_id int NOT NULL,
	name nvarchar(60) NOT NULL,
	number_phone nvarchar(20) NULL,
	address nvarchar(200) NOT NULL,
	postal_code int NOT NULL,
	token nvarchar(100) NULL,
	image nvarchar(100) NULL,
 CONSTRAINT PK_HAIRDRESSERS PRIMARY KEY CLUSTERED 
(
	hairdresser_id ASC
))
GO
/****** Object:  Table SCHEDULE_ROWS    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SCHEDULE_ROWS(
	schedule_row_id int NOT NULL,
	schedule_id int NOT NULL,
	start_time time(0) NOT NULL,
	end_time time(0) NOT NULL,
	monday bit NOT NULL,
	tuesday bit NOT NULL,
	wednesday bit NOT NULL,
	thursday bit NOT NULL,
	friday bit NOT NULL,
	saturday bit NOT NULL,
	sunday bit NOT NULL,
 CONSTRAINT PK_SCHEDULE_ROWS PRIMARY KEY CLUSTERED 
(
	schedule_row_id ASC
))
GO
/****** Object:  Table SCHEDULES    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SCHEDULES(
	schedule_id int NOT NULL,
	hairdresser_id int NOT NULL,
	name nvarchar(50) NOT NULL,
	active bit NOT NULL,
 CONSTRAINT PK_SCHEDULES PRIMARY KEY CLUSTERED 
(
	schedule_id ASC
))
GO
/****** Object:  Table SERVICES    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE SERVICES(
	service_id int NOT NULL,
	hairdresser_id int NOT NULL,
	name nvarchar(50) NOT NULL,
	price decimal(5, 2) NOT NULL,
	daprox tinyint NOT NULL,
 CONSTRAINT PK_SERVICES PRIMARY KEY CLUSTERED 
(
	service_id ASC
))
GO
/****** Object:  Table USERS    Script Date: 10/05/2023 17:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USERS(
	user_id int NOT NULL,
	password varbinary(max) NOT NULL,
	password_read nvarchar(50) NOT NULL,
	salt nvarchar(50) NOT NULL,
	email nvarchar(50) NOT NULL,
	email_validated bit NOT NULL,
	last_name nvarchar(50) NULL,
	name nvarchar(50) NOT NULL,
	number_phone nvarchar(20) NULL,
	temp_token nvarchar(100) NULL,
	image nvarchar(100) NULL,
 CONSTRAINT PK_USERS PRIMARY KEY CLUSTERED 
(
	user_id ASC
)) 
GO
ALTER TABLE ADMINS  WITH CHECK ADD  CONSTRAINT FK_ADMINS_HAIRDRESSERS FOREIGN KEY(hairdresser_id)
REFERENCES HAIRDRESSERS (hairdresser_id)
GO
ALTER TABLE ADMINS CHECK CONSTRAINT FK_ADMINS_HAIRDRESSERS
GO
ALTER TABLE ADMINS  WITH CHECK ADD  CONSTRAINT FK_ADMINS_USERS FOREIGN KEY(user_id)
REFERENCES USERS (user_id)
GO
ALTER TABLE ADMINS CHECK CONSTRAINT FK_ADMINS_USERS
GO
ALTER TABLE APPOINTMENT_SERVICES  WITH CHECK ADD  CONSTRAINT FK_APPOINTMENT_SERVICES_APPOINTMENTS FOREIGN KEY(appointment_id)
REFERENCES APPOINTMENTS (appointment_id)
GO
ALTER TABLE APPOINTMENT_SERVICES CHECK CONSTRAINT FK_APPOINTMENT_SERVICES_APPOINTMENTS
GO
ALTER TABLE APPOINTMENT_SERVICES  WITH CHECK ADD  CONSTRAINT FK_APPOINTMENT_SERVICES_SERVICES FOREIGN KEY(service_id)
REFERENCES SERVICES (service_id)
GO
ALTER TABLE APPOINTMENT_SERVICES CHECK CONSTRAINT FK_APPOINTMENT_SERVICES_SERVICES
GO
ALTER TABLE APPOINTMENTS  WITH CHECK ADD  CONSTRAINT FK_APPOINTMENTS_HAIRDRESSERS FOREIGN KEY(hairdresser_id)
REFERENCES HAIRDRESSERS (hairdresser_id)
GO
ALTER TABLE APPOINTMENTS CHECK CONSTRAINT FK_APPOINTMENTS_HAIRDRESSERS
GO
ALTER TABLE APPOINTMENTS  WITH CHECK ADD  CONSTRAINT FK_APPOINTMENTS_USERS FOREIGN KEY(user_id)
REFERENCES USERS (user_id)
GO
ALTER TABLE APPOINTMENTS CHECK CONSTRAINT FK_APPOINTMENTS_USERS
GO
ALTER TABLE SCHEDULE_ROWS  WITH CHECK ADD  CONSTRAINT FK_SCHEDULE_ROWS_SCHEDULES FOREIGN KEY(schedule_id)
REFERENCES SCHEDULES (schedule_id)
GO
ALTER TABLE SCHEDULE_ROWS CHECK CONSTRAINT FK_SCHEDULE_ROWS_SCHEDULES
GO
ALTER TABLE SCHEDULES  WITH CHECK ADD  CONSTRAINT FK_SCHEDULES_HAIRDRESSERS FOREIGN KEY(hairdresser_id)
REFERENCES HAIRDRESSERS (hairdresser_id)
GO
ALTER TABLE SCHEDULES CHECK CONSTRAINT FK_SCHEDULES_HAIRDRESSERS
GO
ALTER TABLE SERVICES  WITH CHECK ADD  CONSTRAINT FK_SERVICES_HAIRDRESSERS FOREIGN KEY(hairdresser_id)
REFERENCES HAIRDRESSERS (hairdresser_id)
GO
ALTER TABLE SERVICES CHECK CONSTRAINT FK_SERVICES_HAIRDRESSERS
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado de la cita (1- Finalizada, 2- Activa, 3- Cancelada)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'APPOINTMENTS', @level2type=N'COLUMN',@level2name=N'status'
GO